<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <%- include('ejs/header.ejs') %>
  </head>
  <body>
    <h1 class="text-center">This is a calculator</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <a href="/data"
            ><i
              class="fa-brands fa-swift fa-flip-vertical icon"
              style="color: #b0a0a0"
            ></i
          ></a>
          <p>Data</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <a href="/health"
            ><i
              class="fa-solid fa-hand-holding-medical fa-bounce icon"
              style="color: #b0a0a0"
            ></i
          ></a>
          <p>Health Calculator</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <a href="/age"
            ><i class="fa-solid fa-cake-candles icon" style="color: #b0a0a0"></i
          ></a>
          <p>Age</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <i
            class="fa-solid fa-tag fa-rotate-by icon"
            style="color: #b0a0a0; --fa-rotate-angle: -5deg"
          ></i>
          <p>Discount</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <a href="/date"
            ><i
              class="fa-solid fa-calendar-days icon"
              style="color: #b0a0a0"
            ></i>
          </a>
          <p>Date</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <i
            class="fa-solid fa-ruler-horizontal icon"
            style="color: #b0a0a0"
          ></i>
          <p>Length</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <i
            class="fa-regular fa-pen-to-square icon"
            style="color: #b0a0a0"
          ></i>
          <p>Area</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <i class="fa-brands fa-codepen icon" style="color: #b0a0a0"></i>
          <p>Volume</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <i
            class="fa-solid fa-temperature-three-quarters icon"
            style="color: #b0a0a0"
          ></i>
          <p>Temperature</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <i class="fa-solid fa-gauge icon" style="color: #b0a0a0"></i>
          <p>Speed</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <i class="fa-regular fa-clock icon" style="color: #b0a0a0"></i>
          <p>Time</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <i class="fa-solid fa-weight-hanging icon" style="color: #b0a0a0"></i>
          <p>Mass</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <a href="/numbercon"
            ><i class="fa-solid fa-rotate icon" style="color: #b0a0a0"></i
          ></a>
          <p>Numeral system</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <a href="/currency"
            ><i class="fa-solid fa-dollar-sign icon" style="color: #b0a0a0"></i
          ></a>
          <p>Currency</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <i
            class="fa-solid fa-money-bill-1-wave icon"
            style="color: #b0a0a0"
          ></i>
          <p>GST</p>
        </div>
        <div class="col-4 col-md-3 col-xl-2 mb-3">
          <a href="/speed">
            <span class="material-symbols-outlined icon" style="color: #b0a0a0">
              wifi_tethering
            </span>
          </a>
          <p>Internet Speed</p>
        </div>
      </div>
    </div>
    <%- include('ejs/footer.ejs') %>
  </body>
</html>
